h1 {
  align-items: center;
  color: #154b02;
  font-family: 'Indie Flower', cursive;
  font-size: 45px;
}
p {
font-family: 'Indie Flower', cursive;
font-size: 35px;
color: #2a9702;
}
ul {
  list-style-type: circle;
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
  color: #2a9702;
  border-style: double;
  border-width: 15px;
  background-color: #ffff99;
  width: 250px;
}
html {
background: linear-gradient(#80ff80,#ffffb3, #ffff80);
height: 100%;
}
