body {
  background-image: url(http://vignette2.wikia.nocookie.net/elite-dangerous/images/7/75/ED_Ship_Size.jpg/revision/latest/scale-to-width-down/2000?cb=20151020142428);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: 'Lobster', cursive;
  overflow: scroll;
}
p {
  color:white;
  text-indent: 20px;
  font-size: 150%;
}
h1 {
  color: #ffffff;
  text-align: center;
  font-size: 350%;
}
h3 {
  color: #ffffff;
  padding: 25px 0px 0px 0px;
  font-size: 200%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  border: 1px solid #555;
}
li {
  float: left;
  border-right: 1px solid #555;
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active), .dropdown:hover .dropbtn {
  background-color: red;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #111;
  color: white;
}
.active {
  background-color: #4caf50;
}
