h1{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 40px;
}
p{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 20px;
}

.desc {
    padding: 15px;
    text-align: center;
}
html {
  background: linear-gradient(#007399, #1ac6ff,#80dfff);
  height: 100%;
}
.drawing{
    width: 200px;
    height: 150px;
    position: relative;
    animation-name: drawings;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@keyframes drawings {
    0%   {left:0px; top:0px;}
    25%  { left:0px; top:200px;}
    50%  { left:200px; top:200px;}
    75%  { left:200px; top:0px;}
    100% { left:0px; top:0px;}
}
}
