body {
    background-image: url("DuckHunt.jpg");
    background-repeat: auto;

    background-size: cover;
}



h1 { text-shadow: 2px 2px 5px red;

}

h2 {

text-shadow: 2px 2px 5px blue;

}

h3 {

text-shadow: 2px 2px #FFFF00;

}

h4 {

text-shadow: 2px 2px #00FFFF;

}

h5 {

text-shadow: 2px 2px 5px green;

}

h6 {

text-shadow: 2px 2px #FF1493;

}


</style>

</head>

<body>

<div><font color="#B8860B" size="20"><h2><pre> A L D A N S L I F E</PRE><h2></font></div>

<h3 id='transition' align="left" class="cursive"; align="right"><font color="#39CCCC"

size="20">Things I love</font></h3>


<ul>

<font color="#CD853F">

<div class="animation">

<strong><li><h6><a href="index.html"><pre>Dirt Biking</pre></a><h6></li>

<li><h5><a href="index2.html"> Hunting<h5></li></a>

<li><h4><pre><a href="index3.html">Weight lifting</a></pre><h4></li>

<li><h3><a href="index4.html">Mudding</a><h3></li>



<h1>

<li>

<pre><a href="index5.html">My truck</a></pre>

</li>

</h1>

</div class="animation">

</ul></font>

<br>

<br>

<br>

<h1 id='border'><pre> H U N T I N G   H U N T I N G H U N T I N G   H U N T I N G  H U N T I N G H U N T I N G </pre></h1>
<marquee behavior="scroll" direction="right"><img  src="Earl.gif" width="420" height="420"></marquee>
<br>
<audio autoplay loop controls>

<source src="LOVEIT.mp3".style.visibility = "hidden" type="audio/mp3">

</audio>

<h2><font size="8">

I have been hunting my entire life. I started when I was really young; and fell in love ever since.

I love to go:

</font></h2>

<ul class="a">

<style>

.grayscale {

-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */

filter: grayscale(100%);

}

.blur {

-webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */

filter: blur(1px);

}

.animation {

-webkit-animation: cssAnimation4 5s 20 ease;

-moz-animation: cssAnimation4 5s 20 ease;

-o-animation: cssAnimation4 5s 20 ease;

}

@-webkit-keyframes cssAnimation4 {

from { -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

to { -webkit-transform: rotate(36deg) scale(0.835) skew(-12deg) translate(300px); }

}

@-moz-keyframes cssAnimation4 {

from { -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

to { -moz-transform: rotate(36deg) scale(0.835) skew(-12deg) translate(300px); }

}

@-o-keyframes cssAnimation4 {

from { -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

to { -o-transform: rotate(36deg) scale(0.835) skew(-12deg) translate(300px); }

}

.container {

position: relative;

width: 50%;

}

.hover {

opacity: 1;

display: block;

width: 100%;

height: auto;

transition: .5s ease;

backface-visibility: hidden;

}

.middle {

transition: .5s ease;

opacity: 0;

position: absolute;

top: 50%;

left: 50%;

transform: translate(-50%, -50%);

-ms-transform: translate(-50%, -50%)

}

.container:hover .image {

opacity: 0.3;

}

.container:hover .middle {

opacity: 1;

}

.text {

background-color: #FF1493;

color: white;

font-size: 16px;

padding: 16px 32px;

}



#border{ border:double 15px #000000;

-moz-border-radius-topleft: 75px;

-moz-border-radius-topright:0px;

-moz-border-radius-bottomleft:0px;

-moz-border-radius-bottomright:75px;

-webkit-border-top-left-radius:75px;

-webkit-border-top-right-radius:0px;

-webkit-border-bottom-left-radius:0px;

-webkit-border-bottom-right-radius:75px;

border-top-left-radius:75px;

border-top-right-radius:0px;

border-bottom-left-radius:0px;

border-bottom-right-radius:75px;

-moz-box-shadow: 66px 49px 45px #177a66;

-webkit-box-shadow: 66px 49px 45px #177a66;

box-shadow: 66px 49px 45px #177a66;}

ul.a {

List-style-image: url(Flag.PNG); height: 10px;

Width 10%;

List-style-position: inside;

}

ul.b {

List-style-type:circle;

List-style-position: inside;

}

p {Background-color: rgb(135,206,235);

Vertical-align: -10px;}

p.small {

font-variant: smapll-caps;}

div h2{

-webkit-animation: cssAnimation 6s infinite ease-in;

-moz-animation: cssAnimation 6s infinite ease-in;

-o-animation: cssAnimation 6s infinite ease-in;

}

@-webkit-keyframes cssAnimation {

from { -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

to { -webkit-transform: rotate(8deg) scale(0.648) skew(65deg) translate(-244px); }

}

@-moz-keyframes cssAnimation {

from { -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

to { -moz-transform: rotate(8deg) scale(0.648) skew(65deg) translate(-244px); }

}

@-o-keyframes cssAnimation {

from { -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

to { -o-transform: rotate(8deg) scale(0.648) skew(65deg) translate(-244px); }

}

.animation{ -webkit-animation: cssAnimation1 25s infinite ease;

-moz-animation: cssAnimation1 25s infinite ease;

-o-animation: cssAnimation1 25s infinite ease;

}

@-webkit-keyframes cssAnimation1 {

from { -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

to { -webkit-transform: rotate(0deg) scale(1.5) skew(1deg) translate(300px); }

}

@-moz-keyframes cssAnimation1 {

from { -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

to { -moz-transform: rotate(0deg) scale(1.5) skew(1deg) translate(300px); }

}

@-o-keyframes cssAnimation1 {

from { -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

to { -o-transform: rotate(0deg) scale(1.5) skew(1deg) translate(300px);}

#Transition{transition:All 2.1044s ease-in;

-webkit-transition:All 2.1044s ease-in;

-moz-transition:All 2.1044s ease-in;

-o-transition:All 2.1044s ease-in;

transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

-webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

-moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

-o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

-ms-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

}

.classname:hover{

transform: rotate(0deg) scale(0.861) skew(-1deg) translate(0px);

-webkit-transform: rotate(0deg) scale(0.861) skew(-1deg) translate(0px);

-moz-transform: rotate(0deg) scale(0.861) skew(-1deg) translate(0px);

-o-transform: rotate(0deg) scale(0.861) skew(-1deg) translate(0px);

-ms-transform: rotate(0deg) scale(0.861) skew(-1deg) translate(0px);

}

#cr { border-radius: 50%;}

.grayscale {

-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */

filter: grayscale(100%);

}

.blur {

-webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */

filter: blur(1px);

}



@-webkit-keyframes cssAnimation4 {

from { -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

to { -webkit-transform: rotate(36deg) scale(0.835) skew(-12deg) translate(300px); }

}

@-moz-keyframes cssAnimation4 {

from { -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

to { -moz-transform: rotate(36deg) scale(0.835) skew(-12deg) translate(300px); }

}

@-o-keyframes cssAnimation4 {

from { -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

to { -o-transform: rotate(36deg) scale(0.835) skew(-12deg) translate(300px); }

}

.container {

position: relative;

width: 50%;

}

.hover {

opacity: 1;

display: block;

width: 100%;

height: auto;

transition: .5s ease;

backface-visibility: hidden;

}

.middle {

transition: .5s ease;

opacity: 0;

position: absolute;

top: 50%;

left: 50%;

transform: translate(-50%, -50%);

-ms-transform: translate(-50%, -50%)

}

.container:hover .image {

opacity: 0.3;

}

.container:hover .middle {

opacity: 1;

}

.text {

background-color: #FF1493;

color: white;

font-size: 16px;

padding: 16px 32px;

}
