body {background-image: url(Bar.jpg);

background-repeat: auto;

background-size: cover;

}

.hoover {

opacity: .5;

display: block;

width: 100%;

height: auto;

transition: .5s ease;

backface-visibility: hidden;

}

.nig{font-size:250%;
text-shadow: 10px 5px 5px blue;}

.nig1{font-size:450%;
text-shadow: 20px 5px 5px green;}

.bruh{color: yellow;
  text-align: left;
font-size:120%;
  text-transform: capitalize;
   letter-spacing: -1px;
    text-shadow: 3px 2px red;}
    .container {

    position: relative;

    width: 50%;

    }

    .container {

    position: relative;

    width: 50%;

    }

    .hover {

    opacity: 1;

    display: block;

    width: 100%;

    height: auto;

    transition: .5s ease;

    backface-visibility: hidden;

    }

    .middle {

    transition: .5s ease;

    opacity: 0;

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    -ms-transform: translate(-50%, -50%)

    }

    .container:hover .image {

    opacity: 0.3;

    }

    .container:hover .middle {

    opacity: 1;

    }

    .text {

    background-color: #FF1493;

    color: white;

    font-size: 16px;

    padding: 16px 32px;

    }

    .grayscale {  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */  filter: grayscale(100%);}





h1 {

text-shadow: 2px 2px 5px red;

}

h2 {

text-shadow: 2px 2px 5px blue;

}

h3 {

text-shadow: 2px 2px #FFFF00;

}

h4 {

text-shadow: 2px 2px #00FFFF;

}

h5 {

text-shadow: 2px 2px 5px green;

}

h6 {

text-shadow: 2px 2px #FF1493;

}


ul.a {

List-style-image: url(Flag.PNG); height: 10px;

Width 10%;

List-style-position: inside;

}

ul.b {

List-style-type:circle;

List-style-position: inside;

}

p {Background-color: rgb(135,206,235);

Vertical-align: -10px;}

p.small {

font-variant: smapll-caps;}

div h2{

-webkit-animation: cssAnimation 6s infinite ease-in;

-moz-animation: cssAnimation 6s infinite ease-in;

-o-animation: cssAnimation 6s infinite ease-in;

}

@-webkit-keyframes cssAnimation {

from { -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

to { -webkit-transform: rotate(8deg) scale(0.648) skew(65deg) translate(-244px); }

}

@-moz-keyframes cssAnimation {

from { -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

to { -moz-transform: rotate(8deg) scale(0.648) skew(65deg) translate(-244px); }

}

@-o-keyframes cssAnimation {

from { -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

to { -o-transform: rotate(8deg) scale(0.648) skew(65deg) translate(-244px); }

}

.animation{ -webkit-animation: cssAnimation1 5s infinite ease;

-moz-animation: cssAnimation1 5s infinite ease;

-o-animation: cssAnimation1 5s infinite ease;

}

@-webkit-keyframes cssAnimation1 {

from { -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

to { -webkit-transform: rotate(0deg) scale(1.5) skew(1deg) translate(300px); }

}

@-moz-keyframes cssAnimation1 {

from { -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

to { -moz-transform: rotate(0deg) scale(1.5) skew(1deg) translate(300px); }

}

@-o-keyframes cssAnimation1 {

from { -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

to { -o-transform: rotate(0deg) scale(1.5) skew(1deg) translate(300px);}

#Transition{transition:All 2.1044s ease-in;

-webkit-transition:All 2.1044s ease-in;

-moz-transition:All 2.1044s ease-in;

-o-transition:All 2.1044s ease-in;

transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

-webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

-moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

-o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

-ms-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

}

.classname:hover{

transform: rotate(0deg) scale(0.861) skew(-1deg) translate(0px);

-webkit-transform: rotate(0deg) scale(0.861) skew(-1deg) translate(0px);

-moz-transform: rotate(0deg) scale(0.861) skew(-1deg) translate(0px);

-o-transform: rotate(0deg) scale(0.861) skew(-1deg) translate(0px);

-ms-transform: rotate(0deg) scale(0.861) skew(-1deg) translate(0px);

}

#cr { border-radius: 50%;}

.Geezy {transition:All 1s ease-in;

-webkit-transition:All 1s ease-in;

-moz-transition:All 1s ease-in;

-o-transition:All 1s ease-in;

transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

-webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

-moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

-o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

-ms-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

}

.classname:hover{

transform: rotate(4deg) scale(1.5) skew(1deg) translate(0px);

-webkit-transform: rotate(4deg) scale(1.5) skew(1deg) translate(0px);

-moz-transform: rotate(4deg) scale(1.5) skew(1deg) translate(0px);

-o-transform: rotate(4deg) scale(1.5) skew(1deg) translate(0px);

-ms-transform: rotate(4deg) scale(1.5) skew(1deg) translate(0px);

}

.Workout{

float: right;

margin: 0 0 10px 10px;

}
.jaboi {color: transparent;

text-shadow: -4px 4px hsla(0, 0%, 70%, .4),

             -3px 3px hsla(0, 0%, 60%, .2),

             -2px 2px hsla(0, 0%, 70%, .2),

             -1px 1px hsla(0, 0%, 70%, .2),

             0px 0px hsla(0, 0%, 50%, .5),

             1px -1px hsla(0, 0%, 30%, .6),

             2px -2px hsla(0, 0%, 30%, .7),

             3px -3px hsla(0, 0%, 32%, .8),

             4px -4px hsla(0, 0%, 30%, .9),

             5px -5px hsla(0, 0%, 30%, 1.0);}






#border{ border:double 15px #000000;

-moz-border-radius-topleft: 75px;

-moz-border-radius-topright:0px;

-moz-border-radius-bottomleft:0px;

-moz-border-radius-bottomright:75px;

-webkit-border-top-left-radius:75px;

-webkit-border-top-right-radius:0px;

-webkit-border-bottom-left-radius:0px;

-webkit-border-bottom-right-radius:75px;

border-top-left-radius:75px;

border-top-right-radius:0px;

border-bottom-left-radius:0px;

border-bottom-right-radius:75px;

-moz-box-shadow: 66px 49px 45px #177a66;

-webkit-box-shadow: 66px 49px 45px #177a66;

box-shadow: 66px 49px 45px #177a66;}


div h2{

-webkit-animation: cssAnimation 6s infinite ease-in;

-moz-animation: cssAnimation 6s infinite ease-in;

-o-animation: cssAnimation 6s infinite ease-in;

}

@-webkit-keyframes cssAnimation {

from { -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

to { -webkit-transform: rotate(8deg) scale(0.648) skew(65deg) translate(-244px); }

}

@-moz-keyframes cssAnimation {

from { -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

to { -moz-transform: rotate(8deg) scale(0.648) skew(65deg) translate(-244px); }

}

@-o-keyframes cssAnimation {

from { -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

to { -o-transform: rotate(8deg) scale(0.648) skew(65deg) translate(-244px); }

}

.animation{ -webkit-animation: cssAnimation1 5s infinite ease;

-moz-animation: cssAnimation1 5s infinite ease;

-o-animation: cssAnimation1 5s infinite ease;

}

@-webkit-keyframes cssAnimation1 {

from { -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

to { -webkit-transform: rotate(0deg) scale(1.5) skew(1deg) translate(300px); }

}

@-moz-keyframes cssAnimation1 {

from { -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

to { -moz-transform: rotate(0deg) scale(1.5) skew(1deg) translate(300px); }

}

@-o-keyframes cssAnimation1 {

from { -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

to { -o-transform: rotate(0deg) scale(1.5) skew(1deg) translate(300px);}

#Transition{transition:All 2.1044s ease-in;

-webkit-transition:All 2.1044s ease-in;

-moz-transition:All 2.1044s ease-in;

-o-transition:All 2.1044s ease-in;

transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

-webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

-moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

-o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

-ms-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

}

.classname:hover{

transform: rotate(0deg) scale(0.861) skew(-1deg) translate(0px);

-webkit-transform: rotate(0deg) scale(0.861) skew(-1deg) translate(0px);

-moz-transform: rotate(0deg) scale(0.861) skew(-1deg) translate(0px);

-o-transform: rotate(0deg) scale(0.861) skew(-1deg) translate(0px);

-ms-transform: rotate(0deg) scale(0.861) skew(-1deg) translate(0px);

}

#cr { border-radius: 50%;}

.Geezy {transition:All 1s ease-in;

-webkit-transition:All 1s ease-in;

-moz-transition:All 1s ease-in;

-o-transition:All 1s ease-in;

transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

-webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

-moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

-o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

-ms-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);

}

.classname:hover{

transform: rotate(4deg) scale(1.5) skew(1deg) translate(0px);

-webkit-transform: rotate(4deg) scale(1.5) skew(1deg) translate(0px);

-moz-transform: rotate(4deg) scale(1.5) skew(1deg) translate(0px);

-o-transform: rotate(4deg) scale(1.5) skew(1deg) translate(0px);

-ms-transform: rotate(4deg) scale(1.5) skew(1deg) translate(0px);

}




.hoover {

opacity: .5;

display: block;

width: 100%;

height: auto;

transition: .5s ease;

backface-visibility: hidden;

}

.nig{font-size:250%;
text-shadow: 10px 5px 5px blue;}

.nig1{font-size:450%;
text-shadow: 20px 5px 5px green;}

.bruh{color: yellow;
  text-align: left;
font-size:120%;
  text-transform: capitalize;
   letter-spacing: -1px;
    text-shadow: 3px 2px red;}
    .container {

    position: relative;

    width: 50%;

    }

    .container {

    position: relative;

    width: 50%;

    }

    .hover {

    opacity: 1;

    display: block;

    width: 100%;

    height: auto;

    transition: .5s ease;

    backface-visibility: hidden;

    }

    .middle {

    transition: .5s ease;

    opacity: 0;

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    -ms-transform: translate(-50%, -50%)

    }

    .container:hover .image {

    opacity: 0.3;

    }

    .container:hover .middle {

    opacity: 1;

    }

    .text {

    background-color: #FF1493;

    color: white;

    font-size: 16px;

    padding: 16px 32px;

    }
  .grayscale {  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */  filter: grayscale(100%);}


  table, th, td{border: 2px solid green;}
  table{border-collapse: collapse;}
  td{padding: 15px;
    background-color: lightblue;}
