
p {
  color: black;
  background-color:#4da6ff;
  border: 13px double #0c598d;
  border-radius: 15px;
  margin: 1px;
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
    font-style: italic;
}
#grad1 {
height: 150px;
background: linear-gradient(#000066, #4da6ff);
z-index: -1;
}
h1 {
  color:#0c598d;
  font-family: 'Architects Daughter', cursive;
  font-size: 40px;
  text-decoration: underline;
}
p2 {
  color: #034c7d;
    font-family: 'Architects Daughter', cursive;
    font-size: 8px;
    font-style: italic;
    opacity: .5
}

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #034c7d;
        position: absolute;
    }

    li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;

    }


    li a:hover {
        background-color: #4da6ff;
        color: #034c7d;
    }
    li.dropdown {
    display: inline-block;
    width: 200px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00a3cc;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding:8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #b3ecff;
  color:#4da6ff;
  position:
}
.dropdown:hover .dropdown-content {
    display: block;
}
