.button {background-color:#034c7d;
   border: double;
   color: #b86614;
   padding: 30px 30px;
   text-align:left;text-decoration: none;
   display: inline-block;
   font-size: 15 margin:4px 2px; cursor: pointer;
 position: absolute;
 left: 15px;
top: 15px;}
<a href="https://en.wikipedia.org/wiki/Tiger" class="button"> Tigers are amazing!</a>
