#Stories{
  max-width: 500px;
  max-height: 400px;
  overflow: scroll;
  word-wrap: normal;
  text-indent: 50px;
  font-family: 'Shadwos Into Light', cursive;
  font-size: 20px;
  background-color: #0073e6;
}
h1 {
  color: #004080;
  font-size: 40px;
  font-family: 'Architects daughter', cursive;
}
p {
  color: #004080;
  font-size: 30px;
    font-family: 'Architects daughter', cursive;
}
#AU{
  max-width: 500px;
  max-height: 400px;
  overflow: scroll;
  word-wrap: normal;
  text-indent: 50px;
  font-family: 'Kalam', cursive;
  font-size: 20px;
  background-color: #0073e6;
}
html {
background: linear-gradient(#000066, #4da6ff)

}
