ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}

li a {
    display: block;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
background-color: #2f2404;
    text-decoration: none;
    color: #f0e4c1;
    font-family: 'Shadows Into Light', cursive;
  }

html {
  background: linear-gradient(#f0e4c1, #f0e4c1, #faf6ea, white)
}
p {
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
}
h1{
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
}
