* {
	margin: 0;
	padding: 0;
}

#barcelona{
  position: absolute;
  opacity: 0.7;
  transition: 0.1s;
  left: 5%;
  top: 25%;
  height: 20%;
  width: 20%;
  border-radius: 5%;
  border:5px solid black;
}



#barcelona:hover {
    position: absolute;
    opacity: 1;
    transition: 0.1s;
    left: 4.5%;
    height: 21%;
    width: 21%;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: relative;
    z-index: 1;
    top: 42%;
    left: 12.5%;
    margin-left: -60px;
    opacity: 1;
    transition: opacity 1s;

}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    opacity: 1;
    transition: 1s;
}

.tooltip:hover .tooltiptext {
  position: absolute;
    visibility: visible;
    opacity: 0.8;
    transition: 1s;
}

.tooltiptext:hover {
  position: absolute;
  opacity: 0.8;
  transition: 1s;
}

#RomanAquaduct{
  position: absolute;
  z-index: -1;
  width:100%;
  height:100%;
  top: 0%;
  left: 0%;
  opacity: 0.6;
}

html, body {
	height: 100%;
	width: 100%;
}
body {
	align-items: center;
  background-color: rgba(50,50,20,0.8);
	display: flex;
	font-family: 'Raleway', sans-serif;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}




h1 {
  color: #fff;
  font-family: 'LucidaConsole', monospace;
  font-size: 52px;
  font-weight: 900;
  line-height: 46px;
  margin: 0 0 60px 0;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(34,62,66,.75);
  width: 50%;
	padding-top: 35%;
}
