* {
	margin: 0;
	padding: 0;
}

img{
	visibility: idden;
	transition:
}

#barcelona{
  position: absolute;
  opacity: 0.7;
  transition: 0.1s;
  left: 5.5%;
  top: 25%;
  height: 216px;
  width: 400px;
  border-radius: 5%;
  border:5px solid rgb(43,53,57);
}



#barcelona:hover {
    position: absolute;
    opacity: 1;
    transition: 0.1s;
    left: 4.5%;
		top: 24.5%;
    height: 232.2px;
    width: 440px;
}

#darkbasepro900{
  position: absolute;
  opacity: 0.7;
  transition: 0.1s;
  left: 5.5%;
  bottom: 25%;
  height: 216px;
  width: 400px;
  border-radius: 5%;
  border:5px solid rgb(43,53,57);
}



#darkbasepro900:hover {
    position: absolute;
    opacity: 1;
    transition: 0.1s;
    left: 4.5%;
		bottom: 24.5%;
    height: 232.2px;
    width: 440px;
}

#steep{
  position: absolute;
  opacity: 0.7;
  transition: 0.1s;
  left: 29.5%;
  bottom: 25%;
  height: 216px;
  width: 400px;
  border-radius: 5%;
  border:5px solid rgb(43,53,57);
}



#steep:hover {
    position: absolute;
    opacity: 1;
    transition: 0.1s;
    left: 28.5%;
		bottom: 24.5%;
    height: 232.2px;
    width: 440px;
}

#dragracing{
  position: absolute;
  opacity: 0.7;
  transition: 0.1s;
  left: 29.5%;
  top: 25%;
  height: 216px;
  width: 400px;
  border-radius: 5%;
  border:5px solid rgb(43,53,57);
}



#dragracing:hover {
    position: absolute;
    opacity: 1;
    transition: 0.1s;
    left: 28.5%;
		top: 24.5%;
    height: 232.2px;
    width: 440px;
}

#darkside{
  position: absolute;
  opacity: 0.7;
  transition: 0.1s;
  right: 29.5%;
  top: 25%;
  height: 216px;
  width: 400px;
  border-radius: 5%;
  border:5px solid rgb(43,53,57);
}



#darkside:hover {
    position: absolute;
    opacity: 1;
    transition: 0.1s;
    right: 28.5%;
		top: 24.5%;
    height: 232.2px;
    width: 440px;
}

#RomanAquaduct{
  position: absolute;
  z-index: -1;
  width:100%;
  height:100%;
  top: 0%;
  left: 0%;
  opacity: 0.6;
	visibility: visible;
}

html, body {
	height: 100%;
	width: 100%;
}
body {
	align-items: center;
  background-color: rgba(50,50,20,0.8);
	display: flex;
	font-family: 'Raleway', sans-serif;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}




h1 {
  color: #fff;
  font-family: 'LucidaConsole', monospace;
  font-size: 52px;
  font-weight: 900;
  line-height: 46px;
  margin: 0 0 60px 0;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(34,62,66,.75);
  width: 50%;
	padding-top: 35%;
}
