body{
font-family: cursive;
font-size: 30px;
}
h1{
  color: #074ebf;
  font-size: 50px;
}
ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 25%;
  background-color: silver;
  font-size: 25px;
  overflow:visible;
  position: absolute;
}
a{
  display:inline-block;
  color: black;
  margin: 0;
  text-decoration: none;
}
#sw{
  border: 2px solid black;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  background-color: white;
  font-size: 20px;
  border-radius: 8px;
  transition-duration: 0.5s;
  }
#sw:hover{
  background-color: black;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.page{
  border: 2px solid gold;
  height: 75px;
  width: 175px;
  font-size: 20px;
  border-radius: 8px;
  transition-duration: 0.5s;
  background-color: white;
}
.page:hover{
  background-color: gold;
  color: red;
}
