*{
  margin: 0;
  padding: 0;
}
h1{
font-size:25px;
}
h2{
  font-size: 75px;
  font-family: Bell MT;
}
.button{
background-color: Red;
border: none;
cursor: crosshair;
float: left;
height:10px;
width:5px;
position: relative;
top: 100px;
left: 150px;
}
.button:after {
content: "";
background: #000;
display: block;
position: fixed;
padding-top: 300%;
padding-left: 350%;
margin-left: -20px!important;
margin-top: -120%;
opacity: 0;
transition: all 0.8s;
}
.button:active:after{
padding:0;
margin: 0;
opacity: 1;
transition: 0;
}
