
div.container {
	align-items: top;
	align-self: center;
	display: flex;;
	border-radius: 100%;
	flex-direction: column;
	min-height: 1000px;
	justify-content: center;
	width: 1000px;
  background-repeat: no-repeat;
}
body{
  background-size: 25% 25%
}
h1{
 background-color: blue;
 color: white;
 height: 50px;
 width: 150px;
}
h2{
  background-color: blue;
  color: white;
  height: 40px;
  width: 205px;
}
.button{
background-color: rgba(150,0,200,.2);
border: none;
cursor: crosshair;
height:5px;
width:2px;
position: relative;
top: 320px;
left: 500px;

}
.dropbtn {
    background-color: rgba(150, 0, 100, 1);
    color: white;
    padding: 15px;
    font-size: 15px;
		font-style: italic;
border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(150, 0, 100, 1);
    min-width: 10px;
    overflow: auto;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 3px 4px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
