
div.container {
	align-items: top;
	align-self: center;
	display: flex;;
	border-radius: 100%;
	flex-direction: column;
	min-height: 1000px;
	justify-content: center;
	width: 1000px;
  background-repeat: no-repeat;
}
