
div.container {
	align-items: top;
	align-self: center;
	display: flex;;
	border-radius: 100%;
	flex-direction: column;
	min-height: 1000px;
	justify-content: center;
	width: 1000px;
  background-repeat: no-repeat;
}
h1{
 background-color: blue;
 color: white;
 height: 140px;
 width: 150px;
}
.button{
	cursor: copy;
	background-color: white;
	
}
