body{
  background-image: url("79d.gif");
  background-size: 50%, 50%;
}
.button{
  border: none;
  background-color: white;
  opacity: .05;
  height: 5px;
  width: 10px;
  position: relative;
  top: 100px;
  left: 500px;
  cursor: auto;
}
h1{
  background-color: white;
  width: 250px;
  height: 90px;
}
audio{
  height: 20px;
  width: 25px;
}
.dropbtn {
    background-color: grey;
    color: white;
    padding: 20px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: grey;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 10px;
    overflow: auto;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 3px 4px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
