ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}

li a {
    display: block;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #ffcc80;
    text-decoration: none;
    color: #995c00;
    font-family: 'Gloria Hallelujah', cursive;
  }

  p {
     font-size: 20px;
font-family: 'Gloria Hallelujah', cursive;
  }
  h1 {
font-family: 'Gloria Hallelujah', cursive;
    font-size: 30px;
  }
html {
background: linear-gradient(white, #f0bf75, #f0bf75,#eba947);
}
